{% extends 'frontend/base.html' %}


{% block content %}
    <div id='login-form-container'>
        <div id='login-container'>
            <a href='http://127.0.0.1:8000/spotbook/login'>login form</a>
        </div>
    </div>

    <div id='signup-form-container'>
        <a href='http://127.0.0.1:8000/spotbook/signup'>signup form</a>
    </div>

    <div id='profile-container'>
        <div id='profile-header'>
            <div id='username-container'></div>
            <div id='email-container'></div>
        </div>
        <div id='profile-content'>
            <div id='posts'>posts go here</div>
            <div id='spots'>spots go here</div>
        </div>
    </div>
{% endblock content %}
    