{% extends 'frontend/base.html' %}


{% block title %}
    <title>login</title>
{% endblock title %}
    

{% block content %}
    <div id='login-container'>
        <div id='login-form'>
            <label for='username-form'>username</label>
            <input id='username-form' type='text' value=''>
            <label for='email-form'>email</label>
            <input id='email-form' type='text' value=''>
            <button onClick='login()'>enter</button>
        </div>
        
        {% load static %}
        <script src="{% static 'frontend/js/login.js' %}"></script>
    </div>
{% endblock content %}
    