{% extends 'frontend/base.html' %}


{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/Profile.css' %}">

{% endblock css %}
    


{% block content %}
    
    <div id='content'></div>

    <script>
        const currentUsername = "{{ username }}";
        //console.log(currentUsername);
    </script>

    {% load static %}
    <script type="module" src="{% static 'frontend/js/profile-detail-index.js' %}"></script>

{% endblock content %}
    


    