{% extends 'frontend/base.html' %}


{% block content %}
    <div id='signup-container'>
        <div id='signup-form'>
            <label for='email-form'>email</label>
            <input id='email-form' type='text' value=''>
            <label for='username-form'>username</label>
            <input id='username-form' type='text' value=''>
            <button id='send-form' onClick='createAccount()'>create</button>
        </div>

        {% load static %}
        <script src="{% static 'frontend/js/signup.js' %}"></script>
    </div>
{% endblock content %}
    