{% extends "frontend/base.html" %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/spotpage.css' %}">
{% endblock css %}

{% block content %}

    <div id='content'>
        <div id='spot-details'></div>
        <div id='upload-spot-clip'></div>
        <div id='spot-clips'></div>
    </div>

    <script type="text/javascript">
        var spot_id = "{{ spot_id }}"
    </script>

    {% load static %}
    <script src="{% static 'frontend/js/spotpage.js' %}" type='text/javascript'></script>
    {% load static %}
    <script src="{% static 'frontend/js/uploadClip.js' %}" type='text/javascript'></script>
    {% load static %}
    <script src="{% static 'frontend/js/components/spotDetail.js' %}" type='text/javascript'></script>
    
{% endblock content %}