{% extends "frontend/base.html" %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/spotmap.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
{% endblock css %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock js %}

{% block content %}
    <div id='map-container'>
        <div id='mapid'></div>

    {% load static %}
    <script src="{% static 'frontend/js/spotmap.js' %}" type='text/javascript'></script>
    </div>
{% endblock content %}

